* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a {
    color: white !important;
    font-size: 17pt;
    margin: 0 auto;
}
#container {
    height: auto;
}
html, body {
    background-color: #f6f1f4 !important;
}
#form form *{
    text-align: center;
}
input[type=submit] {
    margin-left: 215px;
}
#form {
    width: 500px;
    margin: 0 auto;
    margin-top: 75px;
}
h1 {
    text-align: center;
    margin-top: 100px !important;
}