* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a {
    color: white !important;
    font-size: 17pt;
    margin: 0 auto;
}
#container {
    height: auto;
}
html, body {
    background-color: #f6f1f4 !important;
}
#footer {
    background-color: #343A40;
    height: 60px;
    margin-top: 50px;
    text-align: center;
    color: white;
}
#footer *{
    margin-top: 10px;
}
#head {
    margin-top: 75px;
}
ul li{
    font-size: 13pt;
    line-height: 45pt;
    font-weight: bold;
    font-style: italic;
}