<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Main/dash.css' %}">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark" style="height: 65px;">
        <a href="/">HOME</a>
        <a href="/sales">SALES</a>
        <a href="/rentals">RENTALS</a>
        <a href="/repairs">REPAIRS</a>
        <a href="/lessons">LESSONS</a>
    </nav>
    <div id="container">
        <div class="homerow">
            {% load static %}
            <img  id="home1img"src="../static/Main/home1.jfif" alt="Invalid Img">
            <div id="guitardeals">
                <h2>Guitar Deals</h2>
                <p>We have plenty of deals on our guitars on the daily for you to look at. Ranging from 25% off to 95% off! Get started.</p>
                <a href="/sales"><button class="btn-dark"style="width: 80px;">Go</button></a>
            </div>
        </div>
        <div class="homerow">
            <div id="rentals">
                <h2>Guitar Rentals</h2>
                <p>We have a wide variety of rentals available for you. Ranging from acoustic, electric, base. These have deals on them as well.. Get started.</p>
                <a href="/rentals"><button class="btn-dark"style="width: 80px;">Go</button></a>
            </div>
            <img id="home2img"src="../static/Main/2.jpg" alt="Invalid img">
        </div>
        <div class="homerow">
            {% load static %}
            <img id="home3img"src="../static/Main/3.jfif" alt="Invalid Img">
            <div id="repairs">
                <h2>Guitar Repairs</h2>
                <p>Need a guitar repair? Our repairs start at $50. Get started now!</p>
                <a href="/repairs"><button class="btn-dark"style="width: 80px;">Go</button></a>
            </div>
        </div>
        <div class="homerow">
            <div id="lessons">
                <h2>Guitar Lessons</h2>
                <p>We have more than 20+ instructors ready to teach you how to play! Prices start at $50 an hour. Whether you are experienced, or have never touched a guitar in your life, we have a course for you! Get started now!</p>
                <a href="/lessons"><button class="btn-dark"style="width: 80px;">Go</button></a>
            </div>
            <img id="home4img"src="../static/Main/4.jpg" alt="Invalid img">
        </div>
    </div>
    <footer id="footer">
        <small>Developer: Kevin Cox</small>
    </footer>
</body>

</html>