<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lessons</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {%load static %}
        <link rel="stylesheet" href="{% static 'Main/lessons.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="height: 65px;">
        <a href="/">HOME</a>
        <a href="/sales">SALES</a>
        <a href="/rentals">RENTALS</a>
        <a href="/repairs">REPAIRS</a>
        <a href="/lessons">LESSONS</a>
    </nav>
    <div class="profile-container">
    <h1>Slash</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Slash%2C_Guitarist_of_Guns_N%27_Roses_in_2017.jpg"alt="img goes here">
    <nav id="head"class="Navbar navbar-dark bg-dark" style="height: 45px;">
        <a href="#">Times Available: </a>
    </nav>
    <ul>
        <li>Monday, 10AM-2PM, 5PM-9PM</li>
        <li>Tuesday, 10AM-3PM, 6PM-9PM</li>
        <li>Wednesday, 10AM-2PM, 5PM-9PM</li>
        <li>Thursday, 10AM-2PM, 5PM-9PM</li>
        <li>Friday, 11AM-4PM, 7PM-9PM</li>
    </ul>
    <a class="schedule"href="">Schedule a lesson(Coming Soon)</a>
    </div>
    <div class="profile-container">
        <h1>Zakk</h1>
        <img src="https://townsquare.media/site/366/files/2019/04/Zakk-Wylde.jpg?w=980&q=75"alt="img goes here">
        <nav id="head"class="Navbar navbar-dark bg-dark" style="height: 45px;">
            <a href="#">Times Available: </a>
        </nav>
        <ul>
            <li>Monday, 9AM-1PM, 4PM-8PM</li>
            <li>Tuesday, 10AM-3PM, 6PM-10PM</li>
            <li>Wednesday, 6AM-12PM, 2PM-4PM</li>
            <li>Thursday, 10AM-2PM, 5PM-9PM</li>
            <li>Friday, 11AM-4PM, 7PM-9PM</li>
        </ul>
        <a class="schedule" href="">Schedule a lesson(Coming Soon)</a>
        </div>
        <div class="profile-container">
            <h1>Tom</h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Tom-morello.jpg"alt="img goes here">
            <nav id="head"class="Navbar navbar-dark bg-dark" style="height: 45px;">
                <a href="#">Times Available: </a>
            </nav>
            <ul>
                <li>Monday, 12PM-3PM, 4PM-10PM</li>
                <li>Tuesday, 12PM-3PM, 6PM-10PM</li>
                <li>Wednesday, 10AM-12PM, 2PM-8PM</li>
                <li>Thursday, 12PM-2PM, 5PM-9PM</li>
                <li>Friday, 12PM-4PM, 5PM-10PM</li>
            </ul>
            <a class="schedule"href="">Schedule a lesson(Coming Soon)</a>
            </div>
        
    <footer id="footer">
        <small>Developer: Kevin Cox</small>
    </footer>
</body>
</html>