<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'Main/sales.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="height: 65px;">
        <a href="/">HOME</a>
        <a href="/sales">SALES</a>
        <a href="/rentals">RENTALS</a>
        <a href="/repairs">REPAIRS</a>
        <a href="/lessons">LESSONS</a>
    </nav>
    <div class="container" style="overflow-y: auto;">
        <nav id="head"class="Navbar navbar-dark bg-dark" style="height: 45px;">
            <a href="#">CURRENT SALES</a>
        </nav>
        <div id="row"class="row">
            {%for guitar in sales%}
            <div id="guitars"class="col-sm-3"style=";width: 300px; height:300px;margin-top: 100px;text-align: center;">
                <img src="{{guitar.image}}"alt="guitar pic" style="max-width: 100%; max-height: 100%;width: 255px;height: 170px;">
                <strong>${{guitar.price}}({{guitar.sale}}% off)</strong>
                <p>{{guitar.brand}} {{guitar.model}}</p>
                <a href="/buynow/{{guitar.id}}"><button class="btn btn-primary"style="margin-top: 20px;">Buy Now</button></a>
            </div>
            {%endfor%}
        </div>
    </div>
    <footer id="footer">
        <small>Developer: Kevin Cox</small>
    </footer>
</body>
</html>